/* general text type */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/* Footer hover */
footer a:hover {
  opacity: 0.8;
  color: #80cbc4;
}

/* Name to left */
.name-overlay {
  bottom: 10px;
  left: 10px;
  color: black;
}

/* color codes */
.icon-color {
  color: #009688;
}

.progress-bar-color {
  background-color: #009688;
}

.current-badge {
  background-color: #009688;
  color: white;
}

/* Education card */
.education-card {
  padding-bottom: 6rem; /* Güncellenmiş boşluk */
}

/* Footer */
.footer-bg {
  background-color: #009688;
  color: white;
}

/* Redesign style */
.redesign-text {
  font-weight: bold;
  color: white;
  transition: color 0.3s, text-decoration 0.3s;
}

.redesign-text:hover {
  color: #0b0c0c; 
  text-decoration: underline; 
  text-shadow: 0 0 10px rgba(128, 203, 196, 0.8); 
}